/* Album related css below */
.album-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, 200px);
	grid-template-rows: repeat(auto-fit, 220px);
	grid-gap: 20px;
	justify-content: center;
	padding: 20px;
}
.album-container > *{
	max-width: 200px;
	max-height: 220px;
}
.album {
  /*border-style: solid;
  border-width: 1px;
  border-color: #999999;*/
  box-shadow: inset 0px 0px 0px 1px #999999;
  border-radius: 15px;
	background-color: #303030;
	display: flex;
	flex-direction: column;
}
.album-img-container {
	height: 200px;
	box-sizing: border-box;
	padding: 10px;
}
.album-img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 10px;
}
.album-text-container {
	/*height: 10%;*/
	box-sizing: border-box;
	padding: 10px;
	padding-top: 0px;
	margin-top: -7px;
}
.album-title {
	font-size: 120%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* Album Header */
.album-header {
		flex-wrap: wrap;
		border-style: solid;
		border-width: 0px;
		border-bottom-width: 1px;
}
.album-header:hover{
	background: unset;
}
/*.album-header >:nth-child(n+3):not(.bg-img-container) {
		margin-left: auto;
}*/
.album-header .track-title {
		text-shadow: 2px 2px 2px #000000;
}
.album-header .track-subtitle {
		text-shadow: 2px 2px 2px #000000;
}