body {
	background-color: #424242;
	margin: 0px;
	color: #E6E6E6;
	font-size: 100%;
	/* make room for footer */
	margin-bottom: 65px;
}
.controls-container {
	box-sizing: border-box;
	display: flex;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 2%;
	padding-right: 2%;
	align-items: center;
	flex-wrap: wrap-reverse;
}
.controls-container > *{
	box-sizing: border-box;
	flex-grow: 1;
	flex-basis: 50%;
	min-width: 540px;
}
.controls {
	display: flex;
	justify-content: space-evenly;
}
.controls > *{ /*selects all children*/
	padding: 12px;
	border-radius: 5px;
	border-width: 1px;
	border-color: #868686;
	margin: 2px;
	flex-grow: 1;
}
.controls > button:hover {
	background-color: #4D4D4D;
	color: white;
	border-color: white;
	border-style: solid;
}
.controls-container .track:hover {
	background: unset;
}
#volume-container {
	display: flex;
	flex-wrap: wrap;
}
#volume-container > *:first-child {
	width: 100%;
	flex-basis: 100%;
}
#volume-container > *:nth-child(3) {
	margin-left:auto;
	margin-right:auto;
}
.track > #progress-container{
	flex-grow: 1;
}
.track > #current-track-img{
	margin-right: 4px;
}
.track > #queue{
	margin-left: 4px;
}
.playing {
	background-image: linear-gradient(to right, #0000FF , #FF0000);
	color: white;
	box-shadow: inset 0px 0px 0px 1px #ffffff;
}
.hidden {
	display: none !important;
}
/* Extra styling here */
footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right:	0;
	background: #303030;
	border-style: solid;
	border-width: 0px;
	border-top-width: 1px;
	border-color: #999999;
}
#progress-container {
	width: 25%;
	/*flex-grow: 25;*/
	flex-wrap: wrap;
	margin: 0px;
	padding: 0px;
	display: flex;
	cursor: pointer;
	padding-top: 4px;
}
#progress-container > *{
	pointer-events: none;
}
#progress-container .track-title{
	flex-basis: 100%;
}
#current-progress {
	background: #ff0000;
	margin-top: auto;
	margin-bottom: auto;
	height: 4px;
	width: 0%;
}
#current-duration {
	background: #999999;
	margin-top: auto;
	margin-bottom: auto;
	flex-grow: 1;
	height: 4px;
	width: 100%;
}

/* Album related css below */
.album-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, 200px);
	grid-template-rows: repeat(auto-fit, 220px);
	grid-gap: 20px;
	justify-content: center;
	padding: 20px;
}
.album-container > *{
	max-width: 200px;
	max-height: 220px;
}
.album {
  /*border-style: solid;
  border-width: 1px;
  border-color: #999999;*/
  box-shadow: inset 0px 0px 0px 1px #999999;
  border-radius: 15px;
	background-color: #303030;
	display: flex;
	flex-direction: column;
}
.album-img-container {
	height: 200px;
	box-sizing: border-box;
	padding: 10px;
}
.album-img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 10px;
}
.album-text-container {
	/*height: 10%;*/
	box-sizing: border-box;
	padding: 10px;
	padding-top: 0px;
	margin-top: -7px;
}
.album-title {
	font-size: 120%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* Track related css below */
.track-container {
	display: grid;
	grid-template-rows: repeat(auto-fit, 60px);
	grid-gap: 10px;
	/*max-width: 900px;*/
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
}
.track-container > *{
	max-height: 60px;
	max-width: 100vw;
}
.track {
	/*background-color: #303030;*/
	display: flex;
	flex-direction: row;
	overflow: hidden;
}
.track-img-container {
	width: 60px;
	height: 60px;
	box-sizing: border-box;
	padding: 3px;
	flex-shrink: 0;
}
.track-img {
	height: 100%;
	width: 100%;
	object-fit: contain;
	border-radius: 5px;
}
.track-text-container {
	box-sizing: border-box;
	padding: 5px;
	padding-left: 10px;
	display: flex;
	flex-direction: column;
	min-width: 10%;
	margin-right: auto;
}
.track-title {
	color: #ffffff;
	font-size: 160%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.track-subtitle {
	font-size: 90%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.track:hover{
	background-color: rgba(0, 0, 0, 0.2);
}

/* Album Header */
.album-header {
		flex-wrap: wrap;
		border-style: solid;
		border-width: 0px;
		border-bottom-width: 1px;
}
.album-header:hover{
	background: unset;
}
/*.album-header >:nth-child(n+3):not(.bg-img-container) {
		margin-left: auto;
}*/
.album-header .track-title {
		text-shadow: 2px 2px 2px #000000;
}
.album-header .track-subtitle {
		text-shadow: 2px 2px 2px #000000;
}
.bg-img-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
		margin-top: -60px;
}
.bg-img {
    display: block;
    /* background-image: none; */
    filter: blur(10px);
    -webkit-filter: blur(10px);
    height: 110%;
    width: 110%;
    top: -5%;
    left: -5%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.queue-title {
	color: #ffffff;
	font-size: 250%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
