body {
	background-color: #424242;
	margin: 0px;
	color: #E6E6E6;
	font-size: 100%;
	/* make room for footer */
	margin-bottom: 65px;
}
.controls-container {
	box-sizing: border-box;
	display: flex;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 2%;
	padding-right: 2%;
	align-items: center;
	flex-wrap: wrap-reverse;
}
.controls-container > *{
	box-sizing: border-box;
	flex-grow: 1;
	flex-basis: 50%;
	min-width: 540px;
}
.controls {
	display: flex;
	justify-content: space-evenly;
}
.controls > *{ /*selects all children*/
	padding: 12px;
	border-radius: 5px;
	border-width: 1px;
	border-color: #868686;
	margin: 2px;
	flex-grow: 1;
}
.controls > button:hover {
	background-color: #4D4D4D;
	color: white;
	border-color: white;
	border-style: solid;
}
.controls-container .track:hover {
	background: unset;
}
#volume-container {
	display: flex;
	flex-wrap: wrap;
}
#volume-container > *:first-child {
	width: 100%;
	flex-basis: 100%;
}
#volume-container > *:nth-child(3) {
	margin-left:auto;
	margin-right:auto;
}
.track > #progress-container{
	flex-grow: 1;
}
.track > #current-track-img{
	margin-right: 4px;
}
.track > #queue{
	margin-left: 4px;
}
.playing {
	background-image: linear-gradient(to right, #0000FF , #FF0000);
	color: white;
	box-shadow: inset 0px 0px 0px 1px #ffffff;
}
.hidden {
	display: none !important;
}
/* Extra styling here */
footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right:	0;
	background: #303030;
	border-style: solid;
	border-width: 0px;
	border-top-width: 1px;
	border-color: #999999;
}
#progress-container {
	width: 25%;
	/*flex-grow: 25;*/
	flex-wrap: wrap;
	margin: 0px;
	padding: 0px;
	display: flex;
	cursor: pointer;
	padding-top: 4px;
}
#progress-container > *{
	pointer-events: none;
}
#progress-container .track-title{
	flex-basis: 100%;
}
#current-progress {
	background: #ff0000;
	margin-top: auto;
	margin-bottom: auto;
	height: 4px;
	width: 0%;
}
#current-duration {
	background: #999999;
	margin-top: auto;
	margin-bottom: auto;
	flex-grow: 1;
	height: 4px;
	width: 100%;
}

.bg-img-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
		margin-top: -60px;
}
.bg-img {
    display: block;
    /* background-image: none; */
    filter: blur(10px);
    -webkit-filter: blur(10px);
    height: 110%;
    width: 110%;
    top: -5%;
    left: -5%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.queue-title {
	color: #ffffff;
	font-size: 250%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
