:root {
    --bg-color-main: #121212;
    --bg-color-header: #121212;
    --bg-color-controls: #4a4a4a;
    --highlight-color: #4a4a4a;
    --txt-color-main: #ffffff;
    --txt-color-alt: #d1d1d1;
    --progress-color-main: #03cffc;
    --progress-color-alt: #8a8a8a;
    --sq-img-mobile: 10rem;
    --sq-album-mobile: 42rem;
    --sq-header-mobile: 10rem;
    --sq-controls-mobile: 10rem;
    --progress-bar-size: 23rem;
    --track-cols: 1;
    --static-album-mobile: 42rem;
    font-size:62.5%;
}

@media screen and (orientation: landscape) {
    :root {
	--sq-img-mobile: 6rem;
	--sq-album-mobile: 23rem;
	--sq-header-mobile: 6rem;
	--sq-controls-mobile: 5rem;
	--static-album-mobile: 23rem;
	--progress-bar-size: 10rem;
	/*--track-cols: 2;*/
    }
    
}

body {
    background: var(--bg-color-main);
    color: var(--txt-color-main);
    font-family: 'Crimson Text', 'Georgia', serif;
    margin: 0;
    padding: 0;
    
}

.album-header {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    background: var(--bg-color-header);
    border-bottom: solid;
    border-width: 1px;
    border-color: #ffffff;
}
.album-header.show-tracks {
    display: none;
}

.track-header {
    display: none;
}
.track-header.show-tracks {
    display: grid;
    width: 100%;
    height: var(--sq-header-mobile);
    grid-template-columns: min-content minmax(0,100%) min-content;
    background: var(--bg-color-main);
    border-bottom: solid;
    border-width: 1px;
    border-color: #ffffff;
    /*overflow:hidden;*/
}
.track-header .txt-box{
    position: relative;
}
.track-header .txt-box{
    /*position: absolute;*/
    text-shadow: 2px 2px 2px #000000;
}
.track-header .txt-box .txt-line.title{
    /*position: absolute;
    top: 0;*/
    /*text-shadow: 2px 2px 1px #000000;*/
}
.track-header .txt-box .txt-line.subtitle{
    /*position: absolute;*/
    /*top: 55%;*/
    /*text-shadow: 2px 2px 2px #000000;*/
}
.bg-image-container {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}
.bg-image {
    display: block;
    position: absolute;
    /* The image used */
    /*background-image: none;*/

    /* Add the blur effect */
    filter: blur(10px);
    -webkit-filter: blur(10px);

    /* Full height */
    height: 110%;
    width: 110%;
    top: -5%;
    left: -5%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--sq-header-mobile);
    z-index: 1;
}
.sticky .txt-box{
    height: var(--sq-header-mobile);
    font-size: calc(var(--sq-header-mobile)*0.36);
}

.dropdown-content{
    display: none;
    /*width: 12em;*/
    width: calc(var(--sq-header-mobile)*2);
    float: right;
    z-index: 1;
}
.dropdown-content.show-content{
    display: grid;
    grid-gap: calc(var(--sq-header-mobile)*0.04);
    border-style: solid;
    border-width: 2px;
    border-color: #ffffff;
    background-color: var(--bg-color-controls);
    opacity: 0.9999999;
    box-shadow: 0px 0px 16px 16px rgba(0,0,0,0.3);
}
.dropdown-content.show-content button{
    z-index: 1;
    /*font-size: 3em;*/
    font-size: calc(var(--sq-header-mobile)*0.36);
    color: var(--txt-color-main);
    background-color: var(--bg-color-controls);
    text-align: center;
    border: none;
    outline: none;
    padding: 0;
}
.dropdown-content.show-content button:focus{
    /*background-color: var(--highlight-color);*/
    background-color: #03cffc;
    outline:0;
}


.sq-img {
    width: 100%;
    /*height: 100%;*/
    object-fit: cover;
    border-radius: calc(var(--sq-img-mobile)*0.12);
    vertical-align: middle;
}
.blur-img {
    content: "";
    /*background: url(images/abzu.jpg);*/
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;   
    object-fit: cover;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: calc(var(--sq-img-mobile)*0.12);
    margin: 5%;
}

.sq{
    width: var(--sq-controls-mobile);
    height: var(--sq-controls-mobile);
    box-sizing: border-box;
    padding: 5%;
    margin-left: auto;
    margin-right: auto;
}
.track .sq {
    width: var(--sq-img-mobile);
    height: var(--sq-img-mobile);
}
.sticky .sq{
    width: var(--sq-header-mobile);
    height: var(--sq-header-mobile);
    padding: 1%;
}
.controls .sq{
    padding: 1%;
}
.txt-box {
    padding: 5px;
    /*height: var(--sq-img-mobile);*/
    box-sizing: border-box;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.txt-line {
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}

.title{
    height: 60%;
    /*font-size: 35px;*/
    font-size: calc(var(--sq-controls-mobile)*0.36);
    color: var(--txt-color-main);
}
.sticky .title{
    font-size: calc(var(--sq-header-mobile)*0.36);
}
.sticky .subtitle{
    font-size: calc(var(--sq-header-mobile)*0.36);
}
.track .title{
    font-size: calc(var(--sq-img-mobile)*0.36);
}
.track .subtitle{
    font-size: calc(var(--sq-img-mobile)*0.36);
}

.subtitle{
    height: 40%;
    /*font-size: 25px;*/
    font-size: calc(var(--sq-controls-mobile)*0.26);
    color: var(--txt-color-alt);
}
.track .subtitle{
    font-size: calc(var(--sq-img-mobile)*0.26);
}

/*.sorting {
    display: grid;
    font-size: 25px;
    color: var(--txt-color-alt);
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 6em;
    margin-top: 10px;
    margin-bottom: 10px;
    
}*/

.album-container {
    display: grid;
    grid-gap: 40px;
    grid-gap: calc(var(--sq-album-mobile)*0.08);
    margin-top: var(--sq-header-mobile);
    margin-bottom: calc(var(--sq-controls-mobile) + var(--sq-img-mobile) + var(--progress-bar-size)*0.1 + 20px);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    justify-self: center;
    width: 100%;
    grid-auto-rows: auto;
    /*grid-template-columns: repeat(var(--album-cols), var(--sq-album-mobile));*/
    grid-template-columns: repeat(auto-fill, var(--sq-album-mobile));
}
.album-container .track-container {
    display: none;
}
.album-container.show-tracks {
    display: block;
}
.album-container.show-tracks .sq-album{
    display: none;
}
.album-container.show-tracks .album-title{
    display: none;
}
.album-container.show-tracks .album{
    border: none;
}
.track-container {
    display: none;
}
.track-container.show-tracks {
    padding-top: calc(var(--sq-header-mobile)+10px);
    display: grid;
    grid-gap: 10px;
    box-sizing: border-box;
    align-items: left;
    grid-template-columns: repeat(var(--track-cols),1fr);
}
.track {
    display: grid;
    width: 100%;
    grid-template-columns: min-content minmax(0,100%) min-content;
}
.track:hover {
    background-color: var(--highlight-color);
}
.track.playing {
    background-color: var(--highlight-color);
    z-index: 0;
}


.sq-album {
    width: var(--sq-album-mobile);
    height: var(--sq-album-mobile);
    box-sizing: border-box;
    padding: 10px;
    padding-right: 11px;
}

.album {
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    border-radius: 15px;
}
.album-title{
    font-size: calc(var(--sq-album-mobile)*0.09);
    margin-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 0px;
}
.album-title .subtitle{
    font-size: 20px;
    color: var(--txt-color-alt);
    /*padding-top: 5px;*/
}


#grad1 {
    height: auto;
    background-color: #cccccc;
    background-image: linear-gradient(red, yellow);
}

footer {
    background: var(--bg-color-controls);
    /*display: grid;
    grid-template-columns: auto auto auto auto auto;*/
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /*height: calc(var(--sq-img-mobile)*2);*/
    /*text-align: center;*/
    padding-bottom: 10px;
}

.controls {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-content: center;
}

/*.controls > div:nth-child(1) {
    grid-column: span 5;
}*/

.progress-container {
    /*height: 20px;*/
    height: calc(var(--progress-bar-size)*0.1);
    background-color: var(--progress-color-alt);
    width: 100%;
    position:relative;
}

.progress-bar {
    position:absolute;
    background: var(--progress-color-main);
    width: 0px;
    height: 100%;
}

.current-progress {
    position:absolute;
    box-sizing: border-box;
    text-align: left;
    padding-left: 15px;
    color: var(--txt-color-main);
    font-size: calc(var(--progress-bar-size)*0.08);
    /*line-height: calc(var(--progress-bar-size)*0.06);*/
}

.remaining-progress {
    position:absolute;
    box-sizing: border-box;
    text-align: right;
    padding-right: 15px;
    right: 0;
    top: 0;
    color: var(--txt-color-main);
    font-size: calc(var(--progress-bar-size)*0.08);
    /*line-height: calc(var(--progress-bar-size)*0.06);*/
}


/*#progress-bar {
    float: left;
    height: 20px;
    background: var(--progress-color-main);
}

#remaining-progress {
    float: right;
    text-align: right;
    padding-right: 8px;
    width: 100%;
    background: var(--progress-color-alt);
}*/

.menu-bg {
    display: none;
    position:fixed;  
    width:100%;
    height:100%;
    top: 0;
    left: 0;
    right: 0;
    padding:0;
    z-index:100;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    overflow-y: scroll;
}
.menu-content{
    position: relative;
    background: #4a4a4a;
    /*840 660*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: calc(var(--static-album-mobile)*0.09);
    text-align: left;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
    width: calc(var(--static-album-mobile)*2);
    color: #ffffff;
    
}
form {
    display: grid;
    grid-template-columns: 75% 25%;
    justify-content: center;
    align-content: center;
}
.menu-heading {
    text-align: center;
    padding: 0px;
    grid-column: span 2;
    font-size: calc(var(--static-album-mobile)*0.12);
}
.heading{
    grid-column: span 2;
    padding: 12px 12px 12px 0px;
    font-size: calc(var(--static-album-mobile)*0.10);
}
.subheading {
  padding: 12px;
  display: inline-block;
}
form input[type=color] {
    opacity: 0;
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    padding: 0;
}
.number-wrapper{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 70% 30%;
    margin: 2px;
}
.number-wrapper button{
    padding: 0;
    border: none;
    font-size: calc(var(--static-album-mobile)*0.1);
    touch-action: manipulation;
}
form input[type=number] {
    height: 100%;
    width: 100%;
    padding: 0;
    border: none;
    box-sizing: border-box;
    padding-left: 10px;
    font-size: calc(var(--static-album-mobile)*0.15);
    grid-row: span 2;
}
.color-picker-wrapper {
    border: solid;
    border-width: 1px;
    border-color: #ffffff;
    border-radius: calc(var(--static-album-mobile)*0.04);
    margin: 2px;
}
form input[type=text], select, textarea {
    /*width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;*/
    grid-column: span 2;
    box-sizing: border-box;
    font-size: calc(var(--static-album-mobile)*0.10);
}
form .fakesubmit {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    grid-column-start: 2;
    margin-top: 10px;
    font-size: calc(var(--static-album-mobile)*0.08);
    text-align: center;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}
form .fakedelete {
    background-color: #ff0000;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    grid-column-start: 2;
    margin-top: 10px;
    font-size: calc(var(--static-album-mobile)*0.1);
    text-align: center;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}
form input[type=reset] {
    background-color: red;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    grid-column-start: 2;
    margin-top: 10px;
    font-size: calc(var(--static-album-mobile)*0.08);
    text-align: center;
}
form input[type=reset]:hover {
  background-color: #f00000;
}
form .fakesubmit:hover {
  background-color: #45a049;
}
form .fakedelete:hover {
  background-color: #f00000;
}
.noscroll { 
    overflow: hidden;
}
